*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*box sizing to avoid changes due to padding */

body{
    font-family:'Open Sans',sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
}

.dell-logo{
    width: 120px;
    height: 120px;
}


ul{
    list-style: none; /* remove bullets */
}

.container{
    width: 90%;
    max-width: 1100px;  
    margin: auto;

}

.main-nav{
    display:flex; 
    align-items:center;
    justify-content: space-between; /*puts equal space between ul */
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
    font-family:'Open Sans',sans-serif ;
    margin-bottom: 30px;
    margin-top: 30px;
}


.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;  /*to separate the items in the list */
}


.main-nav ul.main-menu{
    flex: 1;  /*to push it close to the dell logo */
    margin-left: 20px;
    font-size: medium;
    padding-top: 15px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;

}

.main-nav ul li a:hover{
    color:#38b7fc; /* hover effect*/
    text-decoration: none;  /*to remove the bullet points*/
}

.btn{
    font-family:'Open Sans',sans-serif;
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 15px;
    width: 90px;
}

/*Showcase*/

.showcase{
    width: 100%;
    height: 400px;
    background: url('images/xps-2L-0vnCnzcU-unsplash.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: flex-end;
    padding-left: 50px;
    padding-bottom: 250px;
    margin-bottom: 20px;
}

.showcase h3, .showcase h2{
    margin-bottom: 10px;
    color: white;
}

.btn{
    margin-top: 10px;
}

/*Home cards*/
.hm1{
    width:100%;
    height: 150px;
    margin-bottom: 20px;
}

.home-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /*Fractional Columns for grid arrangement*/
    grid-gap: 20px;
}

.home-cards h3 .home-cards h6{
    margin-bottom: 5px;
}

.home-cards a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
}

.home-cards a:hover{
    color: #38b7fc;
    text-decoration: none; /*To remove underline from the link*/
}


.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}


.home-cards h3, .home-cards h6{
    padding-bottom: 10px;
}

.home-cards .para3{
    padding-bottom: 48px;
}

.home-cards .para4{
    padding-bottom: 20px;
}

/*Ad*/
.ad{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.img1{
    margin-top: 70px;
    width: 650px;
    height: 500px;
}

.ad h3{
    margin-top:120px ;
}

.ad p{
    margin-top: 20px;
}

.ad a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

.ad a:hover{
    text-decoration: none;
    color: #38b7fc;
}

/*Ad2*/

.ad2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 80px;
}

.ad2 img{
    margin-top: 70px;
    width: 650px;
    height: 500px;
}

.ad2 h3 {
    margin-top: 120px;
}

.ad2 p {
    margin-top: 20px;
}

.tnc {
    font-size: small;

}

.ad2 a {
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}

.ad2 a:hover{
    text-decoration: none;
    color: #38b7fc;
}

/*Servives*/


.service-h2{
 text-align: center;
 padding-bottom: 40px;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 30px;
}

.services img{
    width:100%;
    height:200px;
}

.services h5, .services p{
    padding-bottom: 10px;
}

.services .btn2{
    background-color: #0067b8;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px;
    width: 150px;
    height: 40px;
    font-weight: 500;
    font-family:'Open Sans',sans-serif;
}

.services .btn2:hover{
    background-color: #38b7fc;
}

/*Footer*/

.footer-links{
    background-color: rgb(51, 51, 51);
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer-links a{
    color: white;
    padding: 35px 0;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 190px;
    display: flex;
    
}

.footer-links a:hover{
    text-decoration: none;
    color: rgb(67, 200, 253);
}

.footer-links .links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/*Responsiveness of the website*/

/*For tablet size*/

@media(max-width:768px){

    .menu-btn{
        display: block;
        padding-top: 20px;
        color: #0067b8;
    }

    .menu-btn:hover{
        opacity: 0.5;
    }

    .main-nav ul.right-menu{
        margin-right: 50px;
    }


    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        border-right:#ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }


    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: #ccc solid 1px;
        font-size: 14px;
    }

    .main-nav ul.main-menu.show{
        transform: translateX(-20px);   /*pushes elements out of the screen*/
    }

    .home-cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .ad, .ad2{
        grid-template-columns: 1fr;
    }

    .services {
        grid-template-columns:1fr;
    }

    .footer-links .links{
        grid-template-columns:1fr;
    }

    .img1{
        width: 450px;
        height: 300px;
    }

    .ad2 img {
        margin-top: 70px;
        width: 450px;
        height: 300px;
    }


}

/*For phone size*/

@media(max-width:500px){
    .home-cards {
        grid-template-columns:1fr;
    }
}